.eveHeader{
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(88, 163, 88);
    }


label#thumbnail{
        margin-bottom: 20px;
        border: 1px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 120px;
    
        }
        
label#thumbnail input{
            display: none;
        }


label#thumbnail.has-thumbnail {
            border:0;
        
        } 

label#thumbnail.has-thumbnail img{
       display: none;
    
    }