@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html,
body,
#root{
    min-width: 100%;
}

body {
 background: rgba(0,0,0,0.200) url('../assets/bankground.webp') no-repeat;
 background-size: cover;
 height:100%;
min-height: 900px;

}

body,
input,
button{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.container{
    margin: 20px auto;
    width: 100%;
    display: flex;
flex-direction: column;
align-items: center;
}
.container h1{
    font-size: 40px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: rgb(179, 81, 89);
}

.formAli{
    align-items: left;
}
.content{
 color: rgb(179, 81, 89);
    width: 80%;
    opacity: 0.7;
    background: white;
    padding:30px;
    margin-top: 50px;
    border-radius: 7px;
}
.content > p{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
}
.content button.submit-btn{
    border: 0;
    border-radius: 3px;
    height: 42px;
    padding: 0 20px;
    font-size:16px;
    font-weight: 700;
    background:  rgb(179, 81, 89);
    color: #ffffff;
    cursor: pointer;
margin-bottom: 5px; 
width: 100%;

}

.content button.submit-btn:hover{
    background:  rgb(231, 143, 150); 
    opacity: 1;
}
.content button.login-btn{
    border: 0;
    border-radius: 3px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size:16px;
    font-weight: 700;
    background:  rgb(101, 108, 167); 
    color: #ffffff;
    cursor: pointer;
margin-bottom: 5px;

}
.content button.login-btn:hover{
    background:  rgb(163, 170, 228); 
    opacity: 1;

}